<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .img{
    position: relative;
    bottom: 170px;
}
    </style>
    <title>Document</title>
</head>
<body>
    <nav class="flex items-center justify-center bg-grey justify-between bg-zinc-300 ">
        <div>
            <img class="items-center p-6" logo src="#" alt="#">
        </div>
        <div >
            <ul class="flex items-center gap-6 p-6 ">
                <li><a href="/"> Home</a></li>
                <li> About</li>
                <li><a href="/SignUp"><button class="block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded"> SignUp </button></a></li>
            </ul>
        </div>
    </nav>
    <div class="flex m-12 items-center justify-center">
        <div>
            <h1 class="text-2xl">Template 1</h1>
            <a href="/formule1"><img src="./img1.jpg" alt=""></a>
        </div>
        <div>
            <h1 class="text-2xl pb-60">Template 2</h1>
            <a href="/formule2"><img class="img" src="./img2.jpg" alt=""></a>
        </div>
    </div>

</body>
</html>